<!DOCTYPE html>
<html>

<head>
  <title>My exercises</title>
</head>

<body>
  <h1>Edit exercise</h1>
  
  {% if types %}
    <ul>
      {% for t in types %}
        <li>
          {{ t.exercise_type_name }}
            <form action="/edit_exercise_types" method="post">
            <input type="hidden" name="delete_id" value="{{ t.id }}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No exercise types</p>
  {% endif %}

  Add new type:
  <form action="/edit_exercise_types" method="post">
    <input type="text" name="name"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <button type="submit">Add</button>
  </form>

  <p><a href="/">Back</a></p>

</html>