<!DOCTYPE html>
<html>

<head>
  <title>PowerÄppi</title>
</head>

<body>
  <h1>Welcome to the PowerÄppi</h1>

  <p>
    <a href="/register">Create a new account</a> |
    {% if session.user_id %}
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
  </p>

  {% if session.user_id %}
  <hr width="90%" />
  <p>
    <a href="/new_exercise">Log new exercise</a> | 
    <a href="/exercises">Show my exercise history</a> |
    <a href="/edit_exercise_types">Manage my exercise types</a> |
  </p>
  {% endif %}

  {% if session.user_id %}
  <hr width="90%" />

    <table>
        <thead>
            <tr>
                <th>User name</th>
                <th>exercise_type_name</th>
                <th>label</th>
                <th>exercise_weight </th>
                <th>exercise_date</th>      
                <th>note</th>
                <th>comment_count</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.username }}</td>
                <td>{{ exercise.exercise_type_name }}</td>
                <td>{{ exercise.label }}</td>
                <td>{{ exercise.exercise_weight }}</td>
                <td>{{ exercise.exercise_date }}</td>
                <td>{{ exercise.note }}</td>
                <td><a href="/comments/{{ exercise.id }}">{{ exercise.comment_count }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  {% endif %}

  </body>

</html>