<!DOCTYPE html>
<html>

<head>
  <title>PowerÄppi</title>
</head>

<body>
  <h1>Welcome to the PowerÄppi</h1>

  <p>
    <a href="/register">Create a new account</a> |
    {% if session.user_id %}
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
  </p>

  {% if session.user_id %}
  <hr width="90%" />
  <p>
    <a href="/new_exercise">Log new exercise</a> | 
    <a href="/exercises">Show my exercise history</a> |
    <a href="/edit_exercise_types">Manage my exercise types</a> |
  </p>
  {% endif %}


  </body>

</html>