<!DOCTYPE html>
<html>

<head>
  <title>Post new exercise</title>
</head>

<body>
  <h1>Post new exercise</h1>

  <form action="/new_exercise" method="post">

    <p>
      <label for="type">Exercise type:</label><br />
        <select name="type_id" id="type" required>
            {% for t in types %}
            <option value="{{ t.id }}">{{ t.exercise_type_name }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
      <label for="class">Exercise load:</label><br />
        <select name="class_id" id="type" required>
            {% for c in classes %}
            <option value="{{ c.id }}">{{ c.label }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
      <label for="value">Weight&nbsp;(kg):</label><br />
      <input
        type="number"
        name="weight"
        id="weight"
        min="1"
        step="0.1"
        required
      />
    </p>

    <p>
      <label for="date">Date:</label><br />
      <input
        type="date"
        name="date"
        id="date"
        required
      />
    </p>

    <p>
      Notes:<br />
      <textarea name="note" rows="5" cols="40"></textarea>
    </p>
    <input type="submit" value="Create" />

  <p>
    <input type="checkbox" name="public" id="public" value="1"
          {% if default %}checked{% endif %}>
    <label for="public">Show public</label>
  </p>

  </form>

    <p><a href="/">Back</a></p>
</body>

</html>