<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Create a new account</h1>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/register" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Confirm password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Register" />
  <p>
    <input type="checkbox" name="public" id="public" value="1" checked>
    <label for="public">Show my exercises public by default</label>
  </p>
  </form>

  <hr />
  <p>
    <a href="/">Back</a>
  </p>
</body>

</html>