<!DOCTYPE html>
<html>
<head>
  <title>Your lifting statistics</title>
  <link rel="stylesheet" href="/static/main.css">

</head>
<body>
</div><div class="nav">
<h3>Your lifting Statistics</h3><p><a href="/">Back to home</a></p></div>
<div class="columns">
<div class="content">
  <h2>Basic training stats:<h2></h2>
{% for group in stats | groupby('exercise_type_name') %}
   <h3>{{ group.grouper }}</h3>

    <table border="1" cellpadding="6" cellspacing="0">
    <thead>
      <tr>
        <th>Class</th>
        <th>Max (kg)</th>
        <th>Total lifts</th>
        <th>Last lift date</th>
      </tr>
    </thead>
    <tbody>
    {% for r in group.list %}
      <tr>
        <td>{{ r.class_label }}</td>
        <td>{{ r.max_weight }}</td>
        <td>{{ r.lift_count }}</td>
        <td>{{ r.last_date }}</td> 
      </tr>
    {% endfor %}
  </table>
{% endfor %}</div>

<div class="content">
<h2>Your latest one-rep maximum estimates:</h2>
<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Last lift date</th>
      <th>Weight</th>
      <th>Epley 1 RM</th>
      <th>Lombardi 1 RM</th>
      <th>Brzycki&1 RM</th>
    </tr>
  </thead>

  <tbody>
    {% for row in pr %}
    <tr>
      <td>{{ row.exercise_type_name }}</td>
      <td>{{ row.pr_date }}</td>
      <td>{{ row.ex_weight }}</td>
      <td>{{ row.e1rm_epley }}</td>
      <td>{{ row.e1rm_lombardi }}</td>
      <td>{{ row.e1rm_brzycki }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div></div>

</body>
</html>